#tombol-1:hover{
    background-color: whitesmoke;
    color: #0d6efd;
}


.input-group{
    width: 80%;
    margin: auto;
}

.footer {
    width: 100%;
    bottom: 0;
    position: absolute;
    font-size: 14px;
}

.vh-80{
    height: 80vh;
}

